@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  text-decoration: none;
  color: #fefefc;
  padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}

#background {
  height: 60vh;
  width: 100%;
  background-color: #eaf8ac;
}
body {
  background-color: #fefefc;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(61, 63, 62);
}
nav a:hover {
  background-color: blue;
  color: yellowgreen;
}
.book,
.join {
  background-color: bisque;
  color: #074f57;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: azure;
  color: black;
}
.msg {
  background-color: antiquewhite;
}
footer {
  background-color: rgb(61, 63, 62);
  color: #0d0d0e;
  font-size: 1.2em;
  padding: 25px 50px;
  margin-top: 200px;
}
.home-title {
  font-family: Rock Salt, Verdana, sans-serif;
  color: blueviolet;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: #074f57;
}
.msg h2 {
  color: #ebb906;
}
.msg p {
  color: rgb(12, 12, 12);
  font-size: 30px;
  padding-bottom: 15px;
}
footer a {
  color: rgb(10, 10, 10);
  text-decoration: none;
}
footer a:hover {
  color: #578809;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero {
  width: 100%;
}
footer p a:hover {
  text-decoration: underline;
}
#hero-img {
  width: 100%;
  height: 80vh;
}
h2 {
  margin: 0;
}
footer .social img {
  padding-top: 15px;
}
#logo_link {
  padding-top: 5px;
}
.rivers-card {
  margin: 200px 0;
}
.camping-card {
  margin: 200px 0;
}
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #black;
}
main section img {
  box-sizing: border-box;
}
